<!DOCTYPE html>
<html ng-app="HomePageApplication">

<head>
    <title>
        <%=typeof title == 'undefined' ? 'New Sails App' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/styles/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="/styles/css/ionicons.css">
    <link rel="stylesheet" href="/styles/dist/angular-clock.css">
    <link rel="stylesheet" href="/styles/dist/angular-progress-button-styles.min.css">
    <link rel="stylesheet" href="/styles/dist/angular-toastr.css">
    <link rel="stylesheet" href="/styles/dist/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/styles/dist/chartist.min.css">
    <link rel="stylesheet" href="/styles/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="/styles/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/styles/dist/css/xeditable.css">
    <link rel="stylesheet" href="/styles/dist/fullcalendar.css">
    <link rel="stylesheet" href="/styles/dist/leaflet.css">
    <link rel="stylesheet" href="/styles/dist/select.css">
    <link rel="stylesheet" href="/styles/dist/textAngular.css">
    <link rel="stylesheet" href="/styles/dist/themes/default/style.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/morris.css">
    <!--STYLES END-->

    <script type="text/javascript">
        window.SAILS_LOCALS = {
            _csrf: '<%= _csrf %>',
            me: <%- JSON.stringify(me) %>
        };
    </script>
</head>

<body ng-controller="homepageController">
    <%- body %>



        <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

        <!--TEMPLATES-->
        <script type="text/javascript" src="/jst.js"></script>
        <!--TEMPLATES END-->


        <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/dist/jquery.js"></script>
        <script src="/js/dependencies/jquery-ui.js"></script>
        <script src="/js/dependencies/dist/jquery.easypiechart.js"></script>
        <script src="/js/dependencies/jquery.slimscroll.js"></script>
        <script src="/js/dependencies/jquery.slimscroll.min.js"></script>
        <script src="/js/dependencies/js/jquery.easing.js"></script>
        <script src="/js/dependencies/dist/Chart.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/amcharts.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/funnel.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/gantt.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/gauge.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/pie.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/radar.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/serial.js"></script>
        <script src="/linker/bower_components/amcharts/dist/amcharts/xy.js"></script>
        <script src="/linker/bower_components/ammap/dist/ammap/ammap.js"></script>
        <script src="/linker/bower_components/ammap/dist/ammap/maps/js/worldLow.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
        <script src="/js/dependencies/dist/js/bootstrap.js"></script>
        <script src="/js/dependencies/moment.js"></script>
        <script src="/js/dependencies/rangy-core.js"></script>
        <script src="/js/dependencies/rangy-classapplier.js"></script>
        <script src="/js/dependencies/rangy-highlighter.js"></script>
        <script src="/js/dependencies/rangy-selectionsaverestore.js"></script>
        <script src="/js/dependencies/rangy-serializer.js"></script>
        <script src="/js/dependencies/rangy-textrange.js"></script>
        <script src="/js/atf/employees/employee.module.js"></script>
        <script src="/js/atf/pointage/pointage.module.js"></script>
        <script src="/js/atf/presence/presence.module.js"></script>
        <script src="/js/atf/rh/rh.module.js"></script>
        <script src="/js/atf/services/services.module.js"></script>
        <script src="/js/formbuilder/components/components.module.js"></script>
        <script src="/js/formbuilder/core/fbcore.module.js"></script>
        <script src="/js/formbuilder/formbuilder.module.js"></script>
        <script src="/js/pages/charts/amCharts/amCharts.module.js"></script>
        <script src="/js/pages/charts/chartJs/chartJs.module.js"></script>
        <script src="/js/pages/charts/chartist/chartist.module.js"></script>
        <script src="/js/pages/charts/charts.module.js"></script>
        <script src="/js/pages/charts/morris/morris.module.js"></script>
        <script src="/js/pages/components/components.module.js"></script>
        <script src="/js/pages/components/mail/mail.module.js"></script>
        <script src="/js/pages/components/timeline/timeline.module.js"></script>
        <script src="/js/pages/components/tree/tree.module.js"></script>
        <script src="/js/pages/dashboard/dashboard.module.js"></script>
        <script src="/js/pages/form/form.module.js"></script>
        <script src="/js/pages/maps/maps.module.js"></script>
        <script src="/js/pages/pages.module.js"></script>
        <script src="/js/pages/profile/profile.module.js"></script>
        <script src="/js/pages/tables/tables.module.js"></script>
        <script src="/js/pages/ui/alerts/alerts.module.js"></script>
        <script src="/js/pages/ui/buttons/buttons.module.js"></script>
        <script src="/js/pages/ui/grid/grid.module.js"></script>
        <script src="/js/pages/ui/icons/icons.module.js"></script>
        <script src="/js/pages/ui/modals/modals.module.js"></script>
        <script src="/js/pages/ui/notifications/notifications.module.js"></script>
        <script src="/js/pages/ui/panels/panels.module.js"></script>
        <script src="/js/pages/ui/progressBars/progressBars.module.js"></script>
        <script src="/js/pages/ui/slider/slider.module.js"></script>
        <script src="/js/pages/ui/tabs/tabs.module.js"></script>
        <script src="/js/pages/ui/typography/typography.module.js"></script>
        <script src="/js/pages/ui/ui.module.js"></script>
        <script src="/js/public/auth/auth.module.js"></script>
        <script src="/js/public/homepage/homepage.module.js"></script>
        <script src="/js/public/login/login.module.js"></script>
        <script src="/js/public/overlay/overlay.module.js"></script>
        <script src="/js/theme/components/components.module.js"></script>
        <script src="/js/theme/inputs/inputs.module.js"></script>
        <script src="/js/theme/theme.module.js"></script>
        <script src="/js/formbuilder/core/fbcore.provider.js"></script>
        <script src="/js/public/auth/auth.service.js"></script>
        <script src="/js/public/overlay/overlay.service.js"></script>
        <script src="/js/theme/components/baPanel/baPanel.service.js"></script>
        <script src="/js/theme/components/baPanel/baPanelBlurHelper.service.js"></script>
        <script src="/js/theme/components/baSidebar/baSidebar.service.js"></script>
        <script src="/js/theme/theme.service.js"></script>
        <script src="/js/theme/theme.config.js"></script>
        <script src="/js/theme/theme.configProvider.js"></script>
        <script src="/js/theme/theme.constants.js"></script>
        <script src="/js/theme/theme.run.js"></script>
        <script src="/js/theme/components/baPanel/baPanel.directive.js"></script>
        <script src="/js/theme/components/baPanel/baPanelBlur.directive.js"></script>
        <script src="/js/theme/components/baPanel/baPanelSelf.directive.js"></script>
        <script src="/js/theme/components/baSidebar/BaSidebarCtrl.js"></script>
        <script src="/js/theme/components/baSidebar/baSidebar.directive.js"></script>
        <script src="/js/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>
        <script src="/js/theme/components/baWizard/baWizard.directive.js"></script>
        <script src="/js/theme/components/baWizard/baWizardCtrl.js"></script>
        <script src="/js/theme/components/baWizard/baWizardStep.directive.js"></script>
        <script src="/js/theme/components/backTop/backTop.directive.js"></script>
        <script src="/js/theme/components/backTop/lib/jquery.backTop.min.js"></script>
        <script src="/js/theme/components/contentTop/contentTop.directive.js"></script>
        <script src="/js/theme/components/msgCenter/MsgCenterCtrl.js"></script>
        <script src="/js/theme/components/msgCenter/msgCenter.directive.js"></script>
        <script src="/js/theme/components/pageTop/pageTop.directive.js"></script>
        <script src="/js/theme/components/progressBarRound/progressBarRound.directive.js"></script>
        <script src="/js/theme/components/toastrLibConfig.js"></script>
        <script src="/js/theme/components/widgets/widgets.directive.js"></script>
        <script src="/js/theme/directives/animatedChange.js"></script>
        <script src="/js/theme/directives/autoExpand.js"></script>
        <script src="/js/theme/directives/autoFocus.js"></script>
        <script src="/js/theme/directives/includeWithScope.js"></script>
        <script src="/js/theme/directives/ionSlider.js"></script>
        <script src="/js/theme/directives/ngFileSelect.js"></script>
        <script src="/js/theme/directives/scrollPosition.js"></script>
        <script src="/js/theme/directives/trackWidth.js"></script>
        <script src="/js/theme/directives/zoomIn.js"></script>
        <script src="/js/theme/filters/image/appImage.js"></script>
        <script src="/js/theme/filters/image/kameleonImg.js"></script>
        <script src="/js/theme/filters/image/profilePicture.js"></script>
        <script src="/js/theme/filters/text/removeHtml.js"></script>
        <script src="/js/theme/inputs/baSwitcher/baSwitcher.js"></script>
        <script src="/js/theme/services/baProgressModal.js"></script>
        <script src="/js/theme/services/baUtil.js"></script>
        <script src="/js/theme/services/fileReader.js"></script>
        <script src="/js/theme/services/preloader.js"></script>
        <script src="/js/theme/services/stopableInterval.js"></script>
        <script src="/js/pages/charts/amCharts/areaChart/AreaChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/barChart/BarChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/combinedChart/combinedChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/funnelChart/FunnelChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/ganttChart/ganttChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/lineChart/LineChartCtrl.js"></script>
        <script src="/js/pages/charts/amCharts/pieChart/PieChartCtrl.js"></script>
        <script src="/js/pages/charts/chartJs/chartJs1DCtrl.js"></script>
        <script src="/js/pages/charts/chartJs/chartJs2DCtrl.js"></script>
        <script src="/js/pages/charts/chartJs/chartJsWaveCtrl.js"></script>
        <script src="/js/pages/charts/chartist/chartistCtrl.js"></script>
        <script src="/js/pages/charts/morris/morrisCtrl.js"></script>
        <script src="/js/pages/components/mail/MailTabCtrl.js"></script>
        <script src="/js/pages/components/mail/composeBox/composeBoxCtrl.js"></script>
        <script src="/js/pages/components/mail/composeBox/composeModal.js"></script>
        <script src="/js/pages/components/mail/detail/MailDetailCtrl.js"></script>
        <script src="/js/pages/components/mail/list/MailListCtrl.js"></script>
        <script src="/js/pages/components/mail/mailMessages.js"></script>
        <script src="/js/pages/components/timeline/TimelineCtrl.js"></script>
        <script src="/js/pages/components/tree/treeCtrl.js"></script>
        <script src="/js/pages/dashboard/blurFeed/BlurFeedCtrl.js"></script>
        <script src="/js/pages/dashboard/blurFeed/blurFeed.directive.js"></script>
        <script src="/js/pages/dashboard/calendar/dashboardCalendar.js"></script>
        <script src="/js/pages/dashboard/dashboardCalendar/DashboardCalendarCtrl.js"></script>
        <script src="/js/pages/dashboard/dashboardCalendar/dashboardCalendar.directive.js"></script>
        <script src="/js/pages/dashboard/dashboardLineChart/DashboardLineChartCtrl.js"></script>
        <script src="/js/pages/dashboard/dashboardLineChart/dashboardLineChart.directive.js"></script>
        <script src="/js/pages/dashboard/dashboardMap/DashboardMapCtrl.js"></script>
        <script src="/js/pages/dashboard/dashboardMap/dashboardMap.directive.js"></script>
        <script src="/js/pages/dashboard/dashboardPieChart/DashboardPieChartCtrl.js"></script>
        <script src="/js/pages/dashboard/dashboardPieChart/dashboardPieChart.directive.js"></script>
        <script src="/js/pages/dashboard/dashboardTodo/DashboardTodoCtrl.js"></script>
        <script src="/js/pages/dashboard/dashboardTodo/dashboardTodo.directive.js"></script>
        <script src="/js/pages/dashboard/pieCharts/dashboardPieChart.js"></script>
        <script src="/js/pages/dashboard/popularApp/popularApp.directive.js"></script>
        <script src="/js/pages/dashboard/trafficChart/TrafficChartCtrl.js"></script>
        <script src="/js/pages/dashboard/trafficChart/trafficChart.directive.js"></script>
        <script src="/js/pages/dashboard/weather/WeatherCtrl.js"></script>
        <script src="/js/pages/dashboard/weather/weather.directive.js"></script>
        <script src="/js/pages/form/inputs/widgets/datePickers/datepickerCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/datePickers/datepickerpopupCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/oldSelect/OldSelectpickerPanelCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/oldSelect/selectpicker.directive.js"></script>
        <script src="/js/pages/form/inputs/widgets/oldSwitches/OldSwitchPanelCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/oldSwitches/switch.directive.js"></script>
        <script src="/js/pages/form/inputs/widgets/select/GroupSelectpickerOptions.js"></script>
        <script src="/js/pages/form/inputs/widgets/select/SelectpickerPanelCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/switches/SwitchDemoPanelCtrl.js"></script>
        <script src="/js/pages/form/inputs/widgets/tagsInput/tagsInput.directive.js"></script>
        <script src="/js/pages/form/wizard/wizrdCtrl.js"></script>
        <script src="/js/pages/maps/google-maps/GmapPageCtrl.js"></script>
        <script src="/js/pages/maps/leaflet/LeafletPageCtrl.js"></script>
        <script src="/js/pages/maps/map-bubbles/MapBubblePageCtrl.js"></script>
        <script src="/js/pages/maps/map-lines/MapLinesPageCtrl.js"></script>
        <script src="/js/pages/profile/ProfileModalCtrl.js"></script>
        <script src="/js/pages/profile/ProfilePageCtrl.js"></script>
        <script src="/js/pages/tables/TablesPageCtrl.js"></script>
        <script src="/js/pages/ui/buttons/ButtonPageCtrl.js"></script>
        <script src="/js/pages/ui/icons/IconsPageCtrl.js"></script>
        <script src="/js/pages/ui/modals/ModalsPageCtrl.js"></script>
        <script src="/js/pages/ui/modals/notifications/NotificationsCtrl.js"></script>
        <script src="/js/pages/ui/modals/progressModal/ProgressModalCtrl.js"></script>
        <script src="/js/pages/ui/notifications/NotificationsPageCtrl.js"></script>
        <script src="/js/atf/employees/employee.config.js"></script>
        <script src="/js/atf/employees/employee.controller.js"></script>
        <script src="/js/atf/pointage/pointage.config.js"></script>
        <script src="/js/atf/pointage/pointage.controller.js"></script>
        <script src="/js/atf/presence/presence.config.js"></script>
        <script src="/js/atf/presence/presence.controller.js"></script>
        <script src="/js/atf/rh/rh.config.js"></script>
        <script src="/js/bur-app.js"></script>
        <script src="/js/dependencies/angular-animate.js"></script>
        <script src="/js/dependencies/angular-slimscroll.js"></script>
        <script src="/js/dependencies/angular-touch.js"></script>
        <script src="/js/dependencies/dist/amcharts/amcharts.js"></script>
        <script src="/js/dependencies/dist/ammap/ammap.js"></script>
        <script src="/js/dependencies/dist/angular-chart.js"></script>
        <script src="/js/dependencies/dist/angular-chartist.js"></script>
        <script src="/js/dependencies/dist/angular-clock.js"></script>
        <script src="/js/dependencies/dist/angular-loading-overlay.js"></script>
        <script src="/js/dependencies/dist/angular-progress-button-styles.min.js"></script>
        <script src="/js/dependencies/dist/angular-toastr.tpls.js"></script>
        <script src="/js/dependencies/dist/bootstrap-tagsinput.js"></script>
        <script src="/js/dependencies/dist/chartist.min.js"></script>
        <script src="/js/dependencies/dist/fullcalendar.js"></script>
        <script src="/js/dependencies/dist/js/bootstrap-select.js"></script>
        <script src="/js/dependencies/dist/js/bootstrap-switch.js"></script>
        <script src="/js/dependencies/dist/js/xeditable.js"></script>
        <script src="/js/dependencies/dist/jstree.js"></script>
        <script src="/js/dependencies/dist/leaflet-src.js"></script>
        <script src="/js/dependencies/dist/ngJsTree.js"></script>
        <script src="/js/dependencies/dist/select.js"></script>
        <script src="/js/dependencies/dist/smart-table.js"></script>
        <script src="/js/dependencies/dist/textAngular-sanitize.js"></script>
        <script src="/js/dependencies/dist/textAngular.js"></script>
        <script src="/js/dependencies/dist/textAngularSetup.js"></script>
        <script src="/js/dependencies/eve.js"></script>
        <script src="/js/dependencies/js/ion.rangeSlider.js"></script>
        <script src="/js/dependencies/js/rainbow.js"></script>
        <script src="/js/dependencies/lodash.js"></script>
        <script src="/js/dependencies/mocha.js"></script>
        <script src="/js/dependencies/morris.js"></script>
        <script src="/js/dependencies/raphael.min.js"></script>
        <script src="/js/dependencies/release/angular-ui-router.js"></script>
        <script src="/js/dependencies/require.js"></script>
        <script src="/js/dependencies/sortable.js"></script>
        <script src="/js/dependencies/src/angular-morris-chart.min.js"></script>
        <script src="/js/dependencies/src/sailsResource.js"></script>
        <script src="/js/formbuilder/components/buttons.js"></script>
        <script src="/js/formbuilder/components/components.templates.js"></script>
        <script src="/js/formbuilder/core/directives/fbcomponent.js"></script>
        <script src="/js/formbuilder/core/directives/fbform.js"></script>
        <script src="/js/formbuilder/core/factories/fbUtils.js"></script>
        <script src="/js/formbuilder/core/fbcore.templates.js"></script>
        <script src="/js/private/atf/atf.templates.js"></script>
        <script src="/js/public/homepage/homepage.config.js"></script>
        <script src="/js/public/homepage/homepage.controller.js"></script>
        <script src="/js/public/login/login.controller.js"></script>
        <script src="/js/public/overlay/overlay.templates.js"></script>
        <script src="/js/utils.js"></script>
        <!--SCRIPTS END-->
</body>

</html>