<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <div ng-if="mode=='add'">Ajout d'un employee</div>
        <div ng-if="mode=='edit'">Modification du badge {{employee.badge}}</div>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row" ng-if="mode=='add'">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputFirstName">No de Badge</label>
                <input type="number" class="form-control" id="badge" placeholder="Badge" ng-model="employee.badge" ng-required="true">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputFirstName">Nom</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Nom" ng-model="employee.firstname">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputLastName">Prenom</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Prenom" ng-model="employee.lastname">
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>