<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Ajout d'un employee</h3>
</div>
<div class="modal-body" id="modal-body">
        <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" ng-model="employee.firstname">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="employee.lastname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputFirstName">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="employee.email">
                  </div>
                </div>
                
              </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>