<div class="widgets">

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div ba-panel ba-panel-title="Employees" ba-panel-class="with-scroll">
                <div class="horizontal-scroll responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="black-muted-bg">
                                <th class="align-right">Username</th>
                                <th class="align-right">Badge</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in employees track by $index" ng-click="detail($event, 'employee.detail',{id:$index})">
                                <td class="align-right" ng-bind="employee.fullname"></td>
                                <td class="align-right" ng-bind="employee.badge"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div ba-panel ba-panel-title="Detail" ba-panel-class="with-scroll">
                <div ui-view="detail"></div>
            </div>
        </div>
    </div>


</div>