<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Employees" ba-panel-class="with-scroll">
                <div class="horizontal-scroll responsive">
                    <div class="add-row-editable-table">
                        <button class="btn btn-primary" ng-click="add()">Ajouter</button>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr class="black-muted-bg">
                                <th class="align-right">Nom</th>
                                <th class="align-right">Prenom</th>
                                <th class="align-right">Badge</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in employees track by $index" ng-click="go($event, 'employee.detail',{id:$index})">
                                <td class="align-right" ng-bind="employee.firstname"></td>
                                <td class="align-right" ng-bind="employee.lastname"></td>
                                <td class="align-right" ng-bind="employee.badge"></td>
                                <td>
                                    <div class="buttons" >
                                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="go($event,'employee.edit',{id:$index})">Edit</button>
                                        <button class="btn btn-danger editable-table-button btn-xs" data-toggle="modal" ng-click="remove({id:$index})">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>


</div>