

<div class="widgets" ng-controller="pointageController">
    
      <div class="row">
        <div class="col-md-3">

          <div
              ba-panel
              ba-panel-title="Pointage"
              ba-panel-class="with-scroll">
            <div>
                
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span>
                    <input type="number" class="form-control with-primary-addon" placeholder="Badge" aria-label="Badge" ng-model="badge.badge" ng-return="retrieve()">
                </div>
                
                <div class="input-group" ng-if="employee">
                    <label>{{employee.nom}} {{employee.prenom}}</label>
                </div>
                
                <div class="input-group" ng-if="employee">
                    <button type="button" class="btn" ng-class="wantout?'btn-success':'btn-danger'" ng-click="addPresence()">{{wantout?"Sortir":"Entrer"}}</button>
                </div>
                
            </div>
          </div>
        
        </div>
        <div class="col-md-3"> 
                <div
                ba-panel
                ba-panel-title="Horloge"
                ba-panel-class="with-scroll">
              <div>
                    <ds-widget-clock></ds-widget-clock>
              </div>
            </div>
            
        </div>

        <div class="col-md-6"> 
                <div
                    ba-panel
                    ba-panel-title="Pointages"
                    ba-panel-class="with-scroll">
                    <div>
                        <ng-include src="table"></ng-include>
                    </div>
                </div>
            </div>
      </div>
        
    </div>
    </div>
    