

<div class="widgets" ng-controller="pointageController">
    
      <div class="row">
        <div class="col-md-6">

          <div
              ba-panel
              ba-panel-title="Pointage"
              ba-panel-class="with-scroll">
            <div>
                
                <div class="input-group">
                    <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span>
                    <input type="number" class="form-control with-primary-addon" placeholder="Badge" aria-label="Badge" ng-model="badge" >
                </div>
                
                <div class="input-group" ng-if="employee">
                    <input type="text" class="form-control with-warning-addon" placeholder="Nom" aria-label="Nom" ng-model="employee.nom" ng-disabled="true">
                </div>
                
                <div class="input-group" ng-if="employee">
                    <input type="text" class="form-control with-success-addon" placeholder="Prenom" aria-label="Prenom" ng-model="employee.prenom" ng-disabled="true">
                </div>
                
                
            </div>
          </div>
        
        </div>
        <div class="col-md-3"> 
                <div
                ba-panel
                ba-panel-title="Horloge"
                ba-panel-class="with-scroll">
              <div>
                    <ds-widget-clock></ds-widget-clock>
              </div>
            </div>
            
        </div>
      </div>
    
    </div>
    